.container-posts{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-top: 60px;
}
.post{
    justify-content: center;
    display: flex;
    flex-direction: column;
    margin-bottom: 40px;
}
.post-title{
    color:var(--primary);
    margin-top: 30px;
    text-decoration: none;
    font-size: 18px;
    font-weight: bold;
}
.post-description{
    font-size: 20px;
}
.post-date{
    font-size: 14px;
}
.post-img{
    width: 900px;
}
/* Tablets y phablets */
@media only screen and (min-width: 576px) and (max-width: 767px){
    .container-posts{
        width: 95%;
    }
    .post-img{
        width: 100%;
    }
    .post-description{
        font-size: 16px;
    }
}
@media only screen and (max-width: 575px){
    .container-posts{
        width: 95%;
    }
    .post-img{
        width: 100%;
    }
    .post-description{
        font-size: 16px;
    }
}