.container-search{
    width: 300px;
}
.search-input:focus{
    outline: none !important;
    box-shadow: none !important;
    border:1px solid var(--grey) !important;
}

.search-results{
    border:1px solid rgba(0,0,0,0.20);
    list-style: none;
    padding: 20px;
    position: absolute;
    background-color: white;
    width: 300px;
}
.s-result:first-child{
    margin-top: 2px;
}
.s-result{
    text-decoration: none;
    margin-top: 8px;
}
.link-result{
    text-decoration: none;
    color:var(--grey);
}
.link-result:hover{
    font-weight: 500;
    color:var(--primary);
}
.search-results:empty{
    display: none;
}
