.home-section{
    margin-left: 12%;
    margin-right: 12%;
    margin-top:70px;
    width: 80%;
    display: flex;
    flex-direction: column;
}
.jb-title{
    width: 80%;
    justify-content: center;
    margin-bottom: 30px;

}
.jb-subtitle{
    width: 80%;
    margin-bottom: 30px;
}
.jb-button{
    width: 180px;
    height: 50px;
    border-radius: 20px;
    border:0px;
    border-color: var(--third);
    background-color: var(--third);
    font-weight: 500;
    font-size: 16px;
    color:var(--primary);
}

.project-img{
    width: 100%;
    justify-content: center;
    margin-bottom: 30px;
}

.project-title{
    font-size: 20px;
    font-weight: bold;
    margin-bottom: 16px;
}
.project-text{
    font-size: 16px;
}


@keyframes typing{
    0%{
        width: 0ch;
    }
    50%{
        width: 7ch;
    }
    100%{
        width: 0ch;
    }
}

.typing-text{
    overflow:hidden;
    border-right: .15em solid var(--primary);
    white-space: nowrap;
    width: 0;
    animation: typing 5s steps(7) infinite;
}

.title{
    display: flex;
    flex-direction: row;
}
.w-auto {
    width: auto;
}

.img-section{
    display: flex;
    justify-content: center;
}
.about-img{
    width: 70%;
    border-radius: 16px;
}
.text-section{
    display: flex;
    flex-direction: column;
    width: 100%;
    font-size: 18px;
    align-items: center;
    text-align: justify;
    margin-top: 30px;
}
.about-text{    
    width: 70%;
    margin-bottom: 30px;
}
.blog-subtitle{
    font-weight: 400;
    font-size: 18px;
}
.container-post{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-top: 60px;
}
.container-intro{
    display: flex;
    flex-direction: column;
    margin-bottom: 50px;
}
.container-markdown{
    width: 940px;
}
.share-sticky{
    position: fixed;
    top:0;
    right: 0;
    margin-right: 100px;
    padding-top: 100px;
}

.contact-button{
    text-align: center;
    padding-top: 12px;
    text-decoration: none;
}
.contact-button:hover{
    color:var(--primary);
}

.link-button{
    text-decoration: none;
    text-align: center;
    padding-top:10px;
}
.link-button:hover{
    color:var(--primary);
}

/* Escritorio extra grande */
@media only screen and (min-width: 1200px){

}
/* Escritorio grande */
@media only screen and (min-width: 992px) and (max-width: 1199px){

}

/* Escritorio pequeño / tablet */
@media only screen and (min-width: 768px) and (max-width: 991px){

}

/* Tablets y phablets */
@media only screen and (min-width: 576px) and (max-width: 767px){
    .jb-title{
        font-size: 26px;
        margin-bottom: 0;
    }
    .title{
        display: flex;
        flex-direction: column;
    }
    .about-img{
        width: 100%;
        border-radius: 16px;
    }
    .about-text{    
        width: 100%;
        margin-bottom: 30px;
    }
    .container-post{
        width: 100%;
    }
    .container-intro{
        width: 100%;
    }
    .container-intro img{
        width: 100%;
    }
    .container-markdown{
        width: 96%;
        margin-left: 2%;
        margin-right: 2%;
    }
    .container-markdown img{
        width: 100%;
    }
    .container-markdown a{
        width: 90%;
        font-size: 13px;
    }
    .share-sticky{
        position: fixed;
        top:0;
        right: 0;
        margin-right: 10px;
        padding-top: 100px;
    }
}

/* Teléfonos */
@media only screen and (max-width: 575px){
    .jb-title{
        font-size: 26px;
        margin-bottom: 0;
    }
    .title{
        display: flex;
        flex-direction: column;
    }
    .about-img{
        width: 100%;
        border-radius: 16px;
    }
    .about-text{    
        width: 100%;
        margin-bottom: 30px;
    }
    .container-post{
        width: 100%;
    }
    .container-intro{
        width: 100%;
    }
    .container-intro img{
        width: 100%;
    }
    .container-markdown{
        width: 96%;
        margin-left: 2%;
        margin-right: 2%;
    }
    .container-markdown img{
        width: 100%;
    }
    .container-markdown a{
        width: 90%;
        font-size: 13px;
    }
    .share-sticky{
        position: fixed;
        top:0;
        right: 0;
        margin-right: 10px;
        padding-top: 100px;
    }
    
}